body{
    font-family: Raleway, serif;
    width: 95%;
    margin: auto;

}
/* img{
    max-height: 25%;
    max-width: 25%;
} */
li{
    list-style: none;
}
/* **** HEADER **** */
/* *********** Mise en page **** */

/*.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}*/
.menuContainer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.menu{
    display: flex;
    justify-content: space-around;
}
.buttonMenu{
    margin-right: 50px;
}


/* ************ Mise en forme **** */

.logoReservia{
    max-width: 5%;
    height: 100%;
    margin-right: 5%;
    margin-top: 50px;

}
/*.menu{
    padding: 50px 0px 0px 50px ;
    border: solid 1px red;
}*/
.buttonMenu{
    padding: 50px 25px 0px 50px;
}
.buttonMenu:hover{
    border-top: solid 1px blue;

}


/* **** Fonction de Recherche **** */
/* ************************** Mise en page **** */
.form{
    display: inline-flex;
    align-items: center;
}
.filtersContainer{
    display: flex;
    align-items: baseline;
}
.filters{
    display: flex;
    flex-wrap: wrap;
}
/* ************************** Mise en forme **** */

.gps{
    color: black;
    background-color: #f6f6f6 ;
    padding: 15px 15px 15px 15px;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
}
input[type=search]{
    outline: none;
    border-left: none;
    border-right: none;
    border-top: solid, #f6f6f6, 15px;
    font-size: larger;
    padding: 9px 0px 11px 5px;
}
.buttonSearch{
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    padding: 15px 15px 15px 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
}
.buttonIcon{
    display: none;
}
.filterIcon{
    padding: 16px;
    background-color: #deebff;
    color: #0065fc;
    border-radius: 120%;


}

.filter{
    border: solid 2px #d9d9d9;
    padding-right: 25px;
    border-radius: 25px;
    margin-right: 20px;
}
.filter:hover{
    background: #deebff;
    transition: 1000ms;

}
.filterTitle{
    background-color: white;
    border: none;
    font-size: medium;
    font-weight: normal;
    border-radius: 15px;
    padding: 5px;
}
.filterTitle:hover{
    color: #0065fc;
}

#titleFiltres{
    font-size: medium;
}

/* **** Section Hébergement **** */
/* ************************ Mise en page **** */
/* INFO */
.info{
    display: flex;
    align-items: baseline;
}
.infoIcon{
    margin-right: 15px;
    padding: 5px 8px 5px 8px;
    color: #0065fc;
    border: #dddddd solid 1px;
    border-radius: 20px;
}
/* HEBERGEMENT */


.hebergementPopulaireContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: auto;
}
.listHebergement{
    width: 100%;
    height: auto;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: space-around; */
    align-items: baseline;


}
.Hebergements{
    width: 65%;
    height: 800px;
    background-color:#f2f2f2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 25px 0 25px;
    border: red 2px solid;

}

.cardsHebergements{
    border: solid white 1px;
    box-shadow: grey 2px 2px 2px 2px ;
    max-width: 30%;
    height: auto;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: baseline; */
    /* flex-direction: column; */
    border-radius: 25px;
    padding: 3px;
    margin: 10px;
    background: #ffffff;
}

.activitesContainer{
    background-color:#f2f2f2;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px black;
}

#greyStar{
    color: #d9d9d9;

}
.fa-star{
    color: #0065fc;

}
#hebergement{
    font-size: 1.5em;

}

.stars{
    display: inline-flex;
}
/* ***** Cards ***** */
.textCardHebergement{

    font-size: medium;
    display: flex;
    flex-direction: column;
}
h4{
    font-size: small;
    font-weight: bolder;
}
.imgHebergement{
    /* border: black 1px solid; */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.imgCard{

    width: 100%;
    height: auto;
    min-width: 100%;
    max-height: 140px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;


}


/* ***** POPULAIRE ***** */

.populaireContainer{
    border: aqua 2px solid;
    background: #f2f2f2;
    border-radius: 15px;
    padding: 10px;
    width: 27%;
    height: 800px;
    padding: 50px;


}
.headPop{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.listPopulaires{

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    height: 80%;
    width: 100%;


}
.cardsPopulaires{
    border: solid 2px;
    display: flex;
    background: #ffffff;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
}
.textCardPop{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.imgCardPop{
    display: flex;
    width: 40%;
    height: auto;
    max-height: 135px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 5px;  
    border: violet solid 3px;  
}







/* ***** FOOTER ***** */

.footerContainer{
    display: flex;
    justify-content: space-between;
}

.more{
    border: none;
    display: flex;
    justify-content: left;
    font-size: medium;
    font-weight: normal;
    padding: 20px
}
.more:hover{

    border: inset blue 2px;
    background-color: white;
}
.moree{
    display: flex;

}